* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'raleway', sans-serif;
    background-color: #e6e6e6;
}

.wrap {
    width: 1100px;
    min-width: 1100px;
    margin: auto;
}

/* Encabezado */

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.3);
    float: left;
    position: sticky;
    top: 0px;
    z-index: 6;
}

header .logo {
    float: left;
}

header .logo h1 {
    font-style: italic;
    color: #ff6565;
    font-size: 35px;
    padding: 20px 0px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

header .logo h1:hover {
    transform: scale(1.2);
}

header .menu {
    float: right;
    padding: 25px 0px;
}

header .menu a {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    color: #3C3C3C;
    font-size: 20px;
    position: relative;
}

header .menu a::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #ff6565;
    height: 2px;
    width: 0%;
    transition-property: width;
    transition-duration: 0.3s;
}

header .menu a:hover::after {
    width: 100%;
}

/* Burbujas */

.burbuja {
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation-iteration-count: infinite;
}

.primero {
    left: 0;
    width: 105px;
    height: 105px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

.segundo {
    left: 7%;
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 3.2s;
    animation-delay: 2s;
    animation-timing-function: linear;
}

.tercero {
    left: 15%;
    width: 75px;
    height: 75px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 3.5s;
    animation-delay: 1.5s;
    animation-timing-function: linear;
}

.cuarto {
    left: 20%;
    width: 10px;
    height: 10px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
}

.quinto {
    left: 28%;
    width: 100px;
    height: 100px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 3.7s;
    animation-delay: 4s;
    animation-timing-function: linear;
}

.sexto {
    left: 35%;
    width: 5px;
    height: 5px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 2.5s;
    animation-delay: 1.75s;
    animation-timing-function: linear;
}

.septimo {
    left: 40%;
    width: 20px;
    height: 20px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
}

.octavo {
    left: 50%;
    width: 75px;
    height: 75px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 3.9s;
    animation-delay: 2.5s;
    animation-timing-function: linear;
}

.noveno {
    left: 60%;
    width: 30px;
    height: 30px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 2.8s;
    animation-delay: 1.25s;
    animation-timing-function: linear;
}

.decimo {
    left: 68%;
    width: 100px;
    height: 100px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 4.2s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

.decimo-primero {
    left: 75%;
    width: 60px;
    height: 60px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 3.3s;
    animation-delay: 2.25s;
    animation-timing-function: linear;
}

.decimo-segundo {
    left: 80%;
    width: 15px;
    height: 15px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 2.7s;
    animation-delay: 2.75s;
    animation-timing-function: linear;
}

.decimo-tercero {
    left: 90%;
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 3.2s;
    animation-delay: 1.50s;
    animation-timing-function: linear;
}

.decimo-cuarto {
    left: 93%;
    width: 10px;
    height: 10px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 2.6s;
    animation-delay: 3s;
    animation-timing-function: linear;
}

.decimo-quinto {
    left: 100%;
    width: 25px;
    height: 25px;
    opacity: 0;
    transform: translateY(150px);
    animation-name: burbujeo;
    animation-duration: 2.8s;
    animation-delay: 2.75s;
    animation-timing-function: linear;
}

@keyframes burbujeo {
    0% {opacity: 0;}
    25% {transform: translate(30px);}
    50% {opacity: 1;}
    75% {transform: translate(-20px);}
    100% {bottom: 100vh; opacity: 0;}
}

/* Banner */

.banner {
    background: linear-gradient(#ff6565,#c40000);
    clear: both;
    margin-bottom: 60px;
    z-index: 4;
    position: relative;
    overflow: hidden;
}

.banner .wrap article {
    color: #fff;
    text-align: center;
    padding: 250px 0px;
}

.banner .wrap article h2 {
    font-size: 60px;
    margin: 0px 0px 20px;
    animation-name: palpito;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.banner .wrap article p {
    font-size: 25px;
    animation-name: palpito;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes palpito {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
}

/*contenido*/

.main {
    float: left;
    padding-bottom: 50px;
    z-index: 3;
}

.main .titulo h2 {
    font-size: 45px;
    width: 500;
    text-align: center;
}

.main .content {
    float: left;
    width: 100%;
    margin-top: 60px;
}

.main .content article {
    float: left;
    width: 25%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    padding: 20px;
    height: 475px;
}

.main .content .centro {
    margin: 0% 12.5%;
}

.main .content article img {
    width: 70%;
    margin: 0% 15% 20px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.main .content article img:hover {
    transform: scale(1.05);
}

.main .content article h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.main .content article p {
    font-size: 16px;
    text-align: center;
    margin: 15px;
}

/* Pie de página */

footer {
    clear: both;
    float: left;
    width: 100%;
    padding: 20px;
    background-color: #464646;
    box-shadow: -1px 0px 5px rgba(0,0,0,0.3);
    z-index: 4;
}

footer .wrap .copy {
    float: left;
}

footer .wrap .redes {
    float: right
}

footer .wrap .redes a {
    color: #fff;
    text-decoration: none;
    display: block;
}

footer .wrap .redes a img {
    width: 25px;
    float: left;
    clear: both;
    margin-bottom: 8px;
    margin-right: 10px;
}

footer .wrap .redes a span {
    display: inline-block;
    margin: 4px 0px;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

footer .wrap .redes a span:hover {
    color: darkgoldenrod;
}

footer .wrap .copy p {
    color: #fff;
    font-style: italic;
    padding: 30px 0px;
}

p::selection, h2::selection, h3::selection, a::selection,img::selection,span::selection {
    background-color: #ff6565;
}

h1::selection {
    background-color: #c40000;
}

.img1 {
    height: 170px;
    width: 200px;
}